/*Font declaraion*/
@font-face {
  font-family: reddir-extrabold;
  src: url(/assets/fonts/reddit/RedditSansFudge-ExtraBold-BF651644f142adf.ttf);
}

@font-face {
  font-family: reddir-regular;
  src: url(/assets/fonts/reddit/RedditSansVanilla-Regular-BF651644f0acea9.ttf);
}

@font-face {
  font-family: reddir-light;
  src: url(/assets/fonts/reddit/RedditSansChocolate-Light-BF651644f140815.ttf);
}

:root {
  --drk-theme1: #4a4a4a;
  --drk-theme2: rgb(43, 45, 48);
  --drk-theme3: #252629;
  --drk-final: #15191b;
  --clr-theme4: #f59e1d;
  --clr-icon: #f2b010;
  --txt-theme1: #797979;
  --clr-theme5: #f5deb3;
}

body {
  margin: 0px;
  font-family: reddir-regular;
  font-size: 12px;
  background-color: var(--drk-theme2);
  color: var(--clr-theme5);
  height: 100vh;
}
.contents {
  padding: 50px 30px;
  margin-bottom: 50px;
}
/* navibar */
.naviBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #808d94;
  background-color: var(--drk-final);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#lft_logo {
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: reddir-extrabold;
}

#rht {
  display: flex;
  align-items: center;
  gap: 10px;
}
#suggest {
  cursor: pointer;
}
#like {
  cursor: pointer;
}

/* header */
#hr_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hr_ttl {
  text-align: center;
  font-size: 50px;
  font-family: reddir-extrabold;
  margin-bottom: 12px;
  margin-top: 12px;
}
#hr_dscrpt {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}
#hr_dscrpt_cntnt {
  text-align: center;
  width: 70%;
  font-size: 16px;
}
@media (max-width: 768px) {
  #hr_dscrpt_cntnt {
    width: 80%;
    font-size: 14px;
  }
}

.hm_spacr {
  height: 150px;
}
.hm_spacr2 {
  height: 70px;
}
.hm_spacr3 {
  height: 70px;
}

#hdr_bttns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#lrnmrBtn {
  padding: 15px 25px;
  overflow: hidden;
  background-color: var(--drk-final);
  border: none;
  outline: none;
  border-radius: 40px;
  width: 25%;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 14px;
  border-top: 1px solid var(--drk-theme1);
}

#lrnmrBtn:hover {
  color: var(--drk-theme5);
}
@media (max-width: 768px) {
  #lrnmrBtn {
    width: 40%;
    font-size: 12px;
  }
}

#dwnldBtn {
  padding: 15px 25px;
  overflow: hidden;
  background-color: var(--drk-theme1);
  border: none;
  outline: none;
  border-radius: 40px;
  width: 25%;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 13px;
  border-top: 1px solid var(--txt-theme1);
}

#dwnldBtn:hover {
  color: var(--drk-theme5);
}
@media (max-width: 768px) {
  #dwnldBtn {
    width: 37%;
    font-size: 12px;
  }
}

#lft_logo {
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: reddir-extrabold;
}

/* main body contents  */
#bdy {
  padding: 0px 30px;
}
#bdy_cntnt {
  background-color: var(--drk-theme3);
  border-radius: 10px;
  height: fit-content;
  padding: 25px 20px;
}
#updt_crd_cntnt {
  background-color: var(--drk-theme3);
  width: 70%;
  padding: 20px 20px;
  border-radius: 7px;
  border: 1px solid #4a4a4a;
}
@media (max-width: 768px) {
  #updt_crd_cntnt {
    width: 100%;
  }
}
#updt_crd {
  display: flex;
  justify-content: center;
  align-items: center;
}
#updticonPnl {
  display: flex;
  justify-content: center;
  align-items: center;
}
#chkupdts_txt {
  font-family: reddir-extrabold;
  text-align: center;
  font-size: 14px;
}
#chkupdts_subtxt {
  color: white;
  text-align: center;
  margin-top: -10px;
}
#chkupdtsBtn {
  padding: 15px 25px;
  overflow: hidden;
  background-color: var(--drk-theme1);
  font-family: reddir-extrabold;
  border: none;
  outline: none;
  border-radius: 40px;
  width: 40%;
  color: var(--clr-icon);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
@media (max-width: 768px) {
  #chkupdtsBtn {
    width: 70%;
  }
}
#chkupdtspnl {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */
#footer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  z-index: 10;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  border-top: 1px solid #808d94;
  background-color: #15191b;
}

#ftr_logo {
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: reddir-extrabold;
  font-size: 10px;
}

#rght_endnote {
  display: flex;
  align-items: center;
  gap: 20px;
}
