<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="src/css/app.css" rel="stylesheet" />
    <link href="src/css/login.css" rel="stylesheet" />
    <link href="src/css/signup.css" rel="stylesheet" />
    <link href="src/css/psude_effects.css" rel="stylesheet" />
    <link href="src/css/home.css" rel="stylesheet" />
    <title>Cloud1</title>
  </head>
  <body>
    <div id="home">
      {{! navibar }}
      <div class="naviBar">
        <div id="lft">
          <div id="lft_logo">
            <span>
              <img
                src="assets/logos/jets_torrents.png"
                class="app-icon"
                width="25"
              />
            </span>
            <span>JETS_TORRENT</span>
          </div>
        </div>
        <div id="rht">
          <span>
            <img
              id="suggest"
              src="assets/icons/jts_suggestion.png"
              class="app-icon"
              width="22"
            /></span>
          <span>
            <img
              id="like"
              src="assets/icons/jts_like.png"
              class="app-icon"
              width="22"
            /></span>
        </div>
      </div>

      <div class="hm_spacr"></div>
      {{! content spacer }}

      {{! header }}
      <div id="hr">
        <div id="hr_logo">
          <img
            src="assets/logos/jets_torrents.png"
            class="app-icon"
            width="55"
          />
        </div>
        <p id="hr_ttl">
          Jets_Torrent
        </p>
        <div id="hr_dscrpt">
          <div id="hr_dscrpt_cntnt">
            Jets_Torrent is a simple, straightforward torrent downloading
            application. It supports both .torrent files and in‑app torrent
            search. The app is primarily designed for downloading movies, but
            with .torrent files you can attempt to download other types of
            content. Keep in mind that non‑movie downloads may not always work
            smoothly.
          </div>

        </div>
      </div>
      <div class="hm_spacr2"></div>
      {{! header buttons }}
      <div id="hdr_bttns">
        <button id="lrnmrBtn">
          <span>
            <img
              id="suggest"
              src="assets/icons/compass.png"
              class="app-icon"
              width="20"
            /></span>
          Learn more</button>
        <button id="dwnldBtn">
          <span>
            <img src="assets/icons/download.png" class="app-icon" width="20" />
          </span>
          Download</button>
      </div>
      <br /><br />

      {{! main contents }}
      <div id="bdy">
        <div id="bdy_cntnt">
          <div id="updt_crd">
            <div id="updt_crd_cntnt">
              <div id="updticonPnl">
                <img
                  id="updticon"
                  src="assets/icons/jts_updates2.png"
                  class="app-icon"
                  width="55"
                /></div>
              <div id="updt_crd_info">
                <p id="chkupdts_txt">Looking for a specific update?</p>
                <p id="chkupdts_subtxt">Take a look at a list of updates</p>
                <br />
                <div id="chkupdtspnl">
                  <button id="chkupdtsBtn">Check updates</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hm_spacr3"></div>
      {{! footer }}
      <div id="footer">
        {{! left }}
        <div id="ftr_logo">
          <span>
            <img
              src="assets/logos/jets_torrents.png"
              class="app-icon"
              width="20"
            />
          </span>
          <span>JETS_TORRENT</span>
        </div>

        {{! right }}
        <div id="rght_endnote">
          <span id="prvcyBtn">Privacy</span>
          <span id="trmsBtn">Terms</span>
        </div>
      </div>
    </div>
  </body>
</html>